body {
padding-top: 20px;
padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
margin: 0 auto;
max-width: 700px;
}
.container-narrow > hr {
margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
margin: 60px 0;
text-align: center;
}
.jumbotron h1 {
font-size: 72px;
line-height: 1;
}
.jumbotron .btn {
font-size: 21px;
padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
margin: 60px 0;
}
.marketing p + h4 {
margin-top: 28px;
}


.btnDiscard {
	display: inline;
	
}

#p1Cards,#p2Cards {
	
	width: 100%;
	height: 100px;
	padding: 10px;
	margin-bottom: 20px;
}

#cardDisplay{
	
	display: none;
	
}

.cardContainer{

width: 80px;
float: left;
margin-right: 5px;

	
}

.btnDiscard {
	width: 50px;
	margin-left: 2px;
}

.card {
	display: block;
	margin: 0px auto 5px auto;
	border: 1px solid black;
	border-radius: 5px;
	width: 50px;
	height: 44px;
	padding-top: 24px;



	text-align: center;
	
}

.red {
	
	color: red;
	
}

.black {
	
	color: black;
	
}

.indicatorFaded {
	
	background-color: #ACADAD !important;
	
}

.playerIndicator {
	
	float: right;
	width: 60px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	border-radius: 20px;
	color: white;
	padding: 5px;
	margin-top: 60px;
	margin-right: 20px;
	
}

#p1Indicator {
	
	background-color: red;
	
}

#p2Indicator {
	
	background-color: blue;
	
}
